// Colores
$primary-bg: #1e202c;
$secondary-bg: #1b1926;
$hover-bg: #333042;
$text-color: white;

// Tamaños Fuentes
$font-size-xl: 420%;
$font-size-lg: xx-large;
$font-size-md: large;
$font-size-sm: 100%;
$font-size-xxl: 600%;
$font-size-counter: 250px;
$font-weight-light: 300;

// Espaciado
$padding-sm: 5px 10px;
$padding-md: 10px 20px;
$padding-lg: 4rem;
$margin-sm: 10px;
$margin-md: 20px;
$margin-lg: 50px;
$margin-negative-lg: -400px;

// Layout
$max-width-video: 90%;
$width-full: 100%;
$width-half: 50%;
$z-index-front: 1;
$z-index-back: -1;

// Imágenes
$background-image-url: "../img/imagen2.jpeg";
